<div>
    <img src="{{image_url}}"  width="100px" />
</div>
        
<div>
    <span id="name">{{name}}</span>
</div>

<div>
    <span id="tagline">{{tagline}}</span>
</div>

<div>
    <span>Description:</span> {{description}}
</div>

